.spinner {
  width: 48px;
  height: 48px;
  border: var(--border-width-thin) solid var(--color-border);
  border-radius: 50%;
  border-top-color: var(--color-primary);
  animation: spin 0.5s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
